body {
  background-color: black;
}

.navbar {
  padding-top: 0, 5rem;

  background-color: #000;
  text-indent: 10;
}

.jumbotron {
  padding-top: 8rem;
  padding-bottom: 1rem;
  background-color: #000;
  text: #ccff00;
}

#about {
  padding-top: 3rem;
  background-color: #000;
  color: #ccff00;
}

#projects {
  padding-top: 7rem;
  padding-bottom: 10rem;
  background-color: #000;
  color: #000;
}

#contact {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: #000;
  color: #ccff00;
}

footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

section {
  padding-top: 5rem;
}
